<!DOCTYPE html>
<html>
<head>
  <title>TwitterFeed</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">

	<div class="navbar navbar-static-top">
        <div class="navbar-header">
          <a class="navbar-nav" href="/Page1"><h4>Page1</h4></a>
          <a class="navbar-nav" href="/Page2"><h4>Page2</h4></a>
          <a class="navbar-nav" href="/Page3"><h4>Page3</h4></a>
          <a class="navbar-nav" href="/Page4"><h4>Page4</h4></a>
          <a class="navbar-nav" href="/Page5"><h4>Page5</h4></a>
          <a class="navbar-nav" href="/Page6"><h4>Page6</h4></a>
        
        </div>
      </div>
         
    </div>
<%= yield %>

</body>
</html>
